<mat-toolbar color="primary">
  <span>
    <a mat-button routerLink="">
      <mat-icon>catching_pokemon</mat-icon> Pokémon App
    </a>
  </span>
  <div>
    <a mat-button routerLink="pokemon/search">
      <mat-icon>search</mat-icon> Search
    </a>
  </div>
  <div>
    <a mat-button routerLink="types">
      <mat-icon>local_fire_department</mat-icon> Types
    </a>
  </div>
  <div>
    <a mat-button routerLink="moves">
      <mat-icon>workspaces</mat-icon> Moves
    </a>
  </div>
  
</mat-toolbar>
